# Misc
.DS_Store

# History files
.Rhistory
.Rapp.history

# RStudio files
.Rproj.user

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Packrat
packrat/lib*/
.Rbuildignore

# Bookdown
_bookdown_files/

# Output
docs/
figures/

# VS Code
.vscode

# OAuth
googleAnalyticsR.httr-oauth
